<app-header></app-header>
<ion-content [fullscreen]="true">
  <form [formGroup]="registerForm" (ngSubmit)="doRegister()">

    <ion-card>

      <h2 class="section-title">Register</h2>

      <div class="section-box">

        <ion-row>
          <ion-col>
            <app-input
            type="text"
            label="Name"
            placeholder="Enmanuel"
            labelPlacement="floating"
            [control]="name"
            >
            </app-input>
            <div class="field-error" *ngIf="name.touched && name.invalid">
              <small>El nombre es obligatorio.</small>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <app-input
            type="text"
            label="Last name"
            placeholder="Caraballo"
            labelPlacement="floating"
            [control]="lastName"
            >
            </app-input>
            <div class="field-error" *ngIf="lastName.touched && lastName.invalid">
              <small>El apellido es obligatorio.</small>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <app-select
            placeholder="Selecciona tu tipo de documento"
            [control]="documentType"
            >

            </app-select>
            <div class="field-error" *ngIf="documentType.touched && documentType.invalid">
              <small>Selecciona un tipo de documento.</small>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <app-input
            type="text"
            label="Document number"
            placeholder="123128493...."
            labelPlacement="floating"
            [control]="documentNumber"
            >
            </app-input>
            <div class="field-error" *ngIf="documentNumber.touched && documentNumber.invalid">
              <small>El número de documento es obligatorio.</small>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <app-input
            type="email"
            label="Email"
            placeholder="exampleEmail@gmail.com"
            labelPlacement="floating"
            [control]="email"
            >
            </app-input>
            <div class="field-error" *ngIf="email.touched && email.invalid">
              <small *ngIf="email.errors?.['required']">El correo es obligatorio.</small>
              <small *ngIf="email.errors?.['email']">Formato de correo inválido.</small>
            </div>
          </ion-col>
        </ion-row>


        <ion-row>
          <ion-col>
            <app-input
            type="password"
            label="Password"
            placeholder="**************"
            labelPlacement="floating"
            [control]="password"
            >

            </app-input>
            <div class="field-error" *ngIf="password.touched && password.invalid">
              <small *ngIf="password.errors?.['required']">La contraseña es obligatoria.</small>
              <small *ngIf="password.errors?.['minlength']">Mínimo {{password.errors?.['minlength']?.requiredLength}} caracteres.</small>
            </div>
            </ion-col>
        </ion-row>

        <ion-row class="action-row">
          <ion-col>

            <app-button
            type="submit"
            [disabled]="registerForm.invalid"
            color="primary"
            class="register-button"
            value="Register">
            </app-button>
            <div class="form-error" *ngIf="registerForm.touched && registerForm.invalid">
              <small>Debes llenar todos los campos correctamente.</small>
            </div>
            <div class="form-error" *ngIf="registerError">
              <small>{{registerError}}</small>
            </div>

            </ion-col>
        </ion-row>

      </div>

      <div class="auth-footer">
        <a routerLink="/login">
          ¿Ya tienes una cuenta? Inicia sesion.
        </a>
      </div>


    </ion-card>

  </form>

</ion-content>
