<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      <strong>Smart</strong>
      Chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true">

  <div class="empty" *ngIf="!messages.length">
    <ion-icon  src='../assets/icon/bot.svg'></ion-icon>
    <h4>Consulta algo...</h4>
  </div>

  <ion-item [ngClass]="{'bot': item.sender !== 'me'}" lines="none" class="chat-item" *ngFor="let item of messages; index as i">
    <ion-badge slot="start" [color]="item.sender == 'me' ? 'success' : 'tertiary'"  mode="ios">
     <ion-icon class="chat-icon" [src]="item.sender == 'me' ? '../assets/icon/user.svg' : '../assets/icon/bot.svg'"></ion-icon>
    </ion-badge>
    <ion-label class="ion-text-wrap">
      <p class="w-space">{{item.content}}</p>
      <ion-spinner *ngIf="loading && (i+1 == messages.length)" color="tertiary" name="dots"></ion-spinner>
    </ion-label>
  </ion-item>
</ion-content>

<ion-footer class="ion-padding">

  <form [formGroup]="formChat" (ngSubmit)="askToGpt()" (keyup.enter)="askToGpt()">


    <ion-item class="text-box-item">
      <ion-textarea formControlName="promt" autoGrow="true" placeholder="Consulta algo..."></ion-textarea>
      <ion-buttons slot="end">
        <ion-button color="tertiary" type="submit">
          <ion-icon class="submit-icon" name="send"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>


  </form>
</ion-footer>
